 p{
            font-family:roboto,arial;
            margin-top:0;
            margin-bottom:0;
        }
       body{
        margin:0;
        padding-left:96px;
        padding-right:24px;
        background-color: rgb(248, 244, 244);
       } 
        .video1-thumbnail{
            width:100%
        }
        .video-info-grid{
            display:grid;
            grid-template-columns: 50px 1fr; 
        }
        .channel-image{
            width:36px;
            border-radius:50px;  
        }
        .video1-title{
            margin-top:0px;
            font-size:15px;
            margin-bottom:10px;
            font-weight:500;
            line-height:20px;
        }
        .thumbnail-row{
            margin-bottom:8px;
            position:relative;
           
        }
        .video1-author ,  .video1-stats{
            font-size:14px;
            color:rgb(159, 151, 151);
            margin-top:4px;
            margin-bottom:0px;
        }
        .videos-grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 15px;
            row-gap:40px;
        }
        @media (max-width:500px){
            .videos-grid{
                grid-template-columns: 1fr 1fr;
            }
        }
        
        @media(min-width:501px) and (max-width:800px) {
             .videos-grid{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
      
        .video-time{
            background-color:black;
            color:white;
            position:absolute;
            bottom:8px;;
            right:5px;
            font-family:roboto,arial;
            font-size:12px;
            font-weight:500;
            padding:4px 4px;
            border-radius:2px;
        }

        